.profile-circle {
  animation: zoomFadeIn 4s cubic-bezier(0.34, 1.56, 0.64, 1);
  transition: transform 0.3s cubic-bezier(0.4, 2, 0.9, 1);
  will-change: transform;
}
.profile-circle:hover {
  transform: scale(1.04);
}
/* 
.profile-circle-wrapper {
  transition: transform 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
} */

.rotating-flower {
  cursor: pointer;
  animation: spin-in 3s cubic-bezier(0.16, 0.6, 0.05, 1) forwards;
  will-change: transform;
}
.rotating-flower-wrapper {
  transition: transform 0.7s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.rotating-flower-wrapper:hover {
  transform: scale(1.04);
}
