@keyframes orbit {
  from {
    transform: rotate(var(--start-rotation, 0deg));
  }
  to {
    transform: rotate(calc(var(--start-rotation, 0deg) + 360deg));
  }
}

@keyframes orbitIn {
  from {
    transform: rotate(var(--start-rotation, 0deg));
  }
  to {
    transform: rotate(calc(var(--start-rotation, 0deg) + 720deg));
  }
}

@keyframes orbitInReverse {
  from {
    transform: rotate(calc(var(--start-rotation, 0deg) * -1 + 720deg));
  }
  to {
    transform: rotate(calc(var(--start-rotation, 0deg) * -1));
  }
}

@keyframes orbit-reverse {
  from {
    transform: rotate(calc(var(--start-rotation, 0deg) * -1 + 360deg));
  }
  to {
    transform: rotate(calc(var(--start-rotation, 0deg) * -1));
  }
}
